* {
  overflow: none;
}

::-webkit-scrollbar {
  display: none;
} 

body {
  background-color: #000000;
  color: rgb(206, 203, 203);
}

img {
  -webkit-user-drag: none; /* Disable dragging in WebKit browsers */
  user-select: none; /* Prevent text selection */
}


.no-caret {
  caret-color: transparent;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  margin: 10px;
  border-radius: 10px;
  height: 30px;
}

.nav h1 {
  margin: 0;
  color: rgb(206, 203, 203);
}

.nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  margin: 0 20px;
}

.nav ul li a {
  text-decoration: none;
  color: rgb(206, 203, 203);
  font-weight: bold;
  font-size: larger;
  transition: 0.5s;
}

.nav ul li a:hover {
  color: #918585;
}

.main-container {
  display: grid;
  grid-template-columns: auto 0.7fr 1fr;
  grid-auto-rows: auto;
  gap: 10px;
  margin: 10px;
}

.section-container {
  display: contents; /* This allows the children to participate in the grid */
}

.bio-container,
.setup-container,
.info-container,
.contact-container,
.link-container {
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

.bio-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 380px;
}

.bio-container svg {
  align-self: flex-end;
}

.info-container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: -170px;
  height: 35vh;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(206, 203, 203);
  margin-top: -85px;
}

.contact-container h1 {
  margin: 0px;
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(to right, #b9b5b5, #000000);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.contact-container a {
  text-decoration: none;
  color: rgb(185, 176, 176);
}

.img-container {
  z-index: 50;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 500px;
}

.img-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
  filter: grayscale(100%);
  transition: 3s;
}

.img-container img:hover {
  filter: grayscale(0%);
}

.setup-container img:hover {
  filter: grayscale(0%);
}

.setup-container {
  height: 550px;
}

.setup-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  filter: grayscale(100%);
  transition: 3s;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.link-container ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
}

.link-container ul li {
  margin: 0 10px;
}

.link-container ul li a {
  text-decoration: none;
  color: rgb(206, 203, 203);
  font-size: larger;
  transition: 0.5s;
}

.link-container ul li a:hover {
  color: #5a5854;
}

/* Responsive Grid Layout */
@media (max-width: 1024px) {
  .main-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .main-container {
    grid-template-columns: 1fr;
  }

  .link-container ul {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .link-container li {
    margin: 0 10px;
  }

  .info-container {
    margin-top: 0;
    height: auto;
  }

  .contact-container {
    margin-top: 0;
  }

  .setup-container {
    margin-top: -40px;
  }
}
